.user-detail-header {
    min-height: 250px;
    background: crimson;
    color: whitesmoke;
    flex-direction: row;
    align-items: flex-end;

    >img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 16px;
    }

    >button {
        >mat-icon {
            color: whitesmoke;
        }
    }

}

.user-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    margin: 16px;

    h2, p {
        margin-bottom: 0;
    }

}

.pos-right-top-corner {
    position: absolute;
    right: 8px;
    top: 8px;
}