.mat-drawer-container {
    height: 100vh;
    

    >mat-drawer {
        border-radius: 0;
        border-right: solid thin #44474E;
    }
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: thin solid #44474E;
    background: #44474E;
    padding: 0 16px;
    min-height: 56px;
    display: flex;
    align-items: center;

    >img {
        height: 48px;
        
    }
}

.toolbar {

    >mat-toolbar,
    mat-toolbar-row {
        color: #24006E;
        background: #E0E0FF;
        height: 56px;
        min-height: 56px;
    }
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0 16px;
        height: 48px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
        }

        mat-icon{
            padding-right: 16px;
        }
    }
}

.router-container{
    padding: 16px 56px;
}