.mat-drawer-container {
    height: 100vh;

    >mat-drawer {
        border-radius: 0;
        border-right: solid thin #24006E;
    }
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    box-sizing: border-box;
    background: #44474E;
    padding: 0 16px;
    height: 64px;
    display: flex;
    align-items: center;

    >img {
        height: 48px;

    }
}

.toolbar {

    >mat-toolbar {
        border-bottom: solid 1px #E0E0FF;
        box-sizing: border-box;
    }

    >mat-toolbar,
    mat-toolbar-row {
        color: #24006E;
        background: #E0E0FF;
        height: 62px;
    }
}

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0 16px;
        height: 48px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
        }

        mat-icon {
            padding-right: 16px;
        }
    }
}

.router-container {
    padding: 16px;
}