<mat-card appearance="outlined">
    <mat-card-content>
        <table class="w100 user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>City</th>
            </tr>
            <tr>
                <td>example1</td>
                <td>example2</td>
                <td>example3</td>
            </tr>
            <tr>
                <td>example1</td>
                <td>example2</td>
                <td>example3</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)="openDialog()" class="add-user-btn" mat-fab extended>
    <mat-icon>add_user</mat-icon>
    Add user
</button>