<mat-card appearance="outlined">
    <mat-card-content>
        <table class="w100 user-table">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Zip-Code</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let item of firestoreService.users" [routerLink]="['/user-detail', item.id]">
                <td>{{item.lastName}}, {{item.firstName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.zipCode}}</td>
                <td>{{item.city}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)="openDialog()" class="add-user-btn" mat-fab extended>
    <mat-icon>add_user</mat-icon>
    Add user
</button>