.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.user-table {
    th {
        text-align: start;
        font-family: 'Material Fonts';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
    }
}